<?xml version="1.0"?>

<robot>
  <macro name="turtlebot_laser" params="parent *origin">
 	<link name="base_laser">
	  <visual>
         <origin xyz="0 0 0" rpy="0 0 0" />
		 <geometry>
            <box size="0.05 0.05 0.035" />
         </geometry>
         <material name="laser_color">
            <color rgba="0.1 0.1 0.1 1.0"/>
         </material>          
      </visual>
      <collision>
         <origin xyz="0 0 0" rpy="0 0 0" />
		  <geometry>
            <box size="0.05 0.05 0.035" />
          </geometry>
        </collision>
	  <inertial>
        <mass value="0.1" />
          <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                   iyy="0.001" iyz="0.0"
                   izz="0.001" />                     
       </inertial>
    </link>
    
    <joint name="base_laser_joint" type="fixed">
      <insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="base_laser" />
    </joint>
 </macro>

</robot>
