<launch>
	<param name="robot_description" command="$(find xacro)/xacro.py $(find dynamixel_description)/urdf/test_dynamixel_chain.xacro" />
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find dynamixel_description)/urdf/urdf.rviz" required="true" />
</launch>
